<div>
    <div  class = "mt-3 row" style = "margin-bottom: 30px; border-bottom: 1px solid rgb(228, 228, 228);">
     <div class = "col-md-9 text-muted" ><h3 style = "margin-left: 20px;">Tender Processing System</h3>
    </div>

    <div class ="col-md-3">  <button style = "margin-left: 20px;" class ="btn btn btn-auth"
        (click) ="authenticate()">
        SIGN IN <i class="bi bi-box-arrow-in-right"></i>
    </button></div>

        
    
    </div>

    <div  *ngIf = "tendersFound" style = "margin-left: 30%; margin-top: 10%;" class ="fs-3">
        <button class ="btn btn-light" style ="border-radius: 50%;"><i class ="bi bi-exclamation-triangle text-success fs-4 "></i></button> No Tenders Found in the system 
    </div>

 

   <div class = "tender-arrengement" *ngFor = "let tender of api.tenders">
    
    <div class ="inner-card">
        <h5 class ="text-success" style ="margin-right: 10px;">{{tender.title}}</h5>
        <div>
            <span><button class = "btn btn-light"
                (click) ="bidDetails(tender)">More Detail <i class="bi bi-three-dots"></i></button>
    
            </span> <span style = "margin-left: 10px;"><button class = "btn btn" style ="color:#ffff;background: rgb(6, 88, 6);"
                (click) =" bid(tender)">Bid <i class="bi bi-check-all"></i></button></span>
        </div>
    </div>



   </div>


</div>
