.add-tender{
    margin-left: 6%;

    margin-right: 6%;
    margin-top: 10px;
}

.btn-home{
    background: rgb(238, 232, 232);
    color:#000000
}

.btn-home:hover{
    background:rgb(141, 219, 141)

}

.btn-additional{
    background:rgb(233, 230, 230)
}

.btn-additional:hover{
    background: rgb(57, 189, 57);
}