.add-tender{
    margin-left: 6%;

    margin-right: 6%;
    margin-top: 10px;
}

.btn-home{
    background: rgb(238, 232, 232);
    color:#000000
}

.btn-home:hover{
    background:rgb(141, 219, 141)

}

.btn-details{
    background: rgb(238, 232, 232);
    color:#000000
}

.btn-details:hover{
    background:rgb(141, 219, 141)

}